<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Adresy</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>


    <fieldset>
        <legend>Adresy</legend>
        <!--Opcje powinny być dostępne tylko po zalogowaniu-->
        <a th:href="@{/createaddress}">Dodaj adres</a>
        <a th:href="@{/address/getall}">Wypisz adresy</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Wszystkie adresy</legend>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.country}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.buildingNumber}"></td>
            <td th:text="${address.apartmentNumber}"></td>
        </tr>
    </fieldset>

</main>
</body>
</html>