<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Kluby lekkoatletyczne</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club/getAll}">Pokaż wszystkie kluby</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Wszystkie kluby</legend>
        <!--/*@thymesVar id="clubs" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.athleticsclub.AthleticsClubReadModel"*/-->
        <tr th:each="club : ${clubs}">
            <td th:text="${club.name}"></td>
            <td th:text="${club.establishedDate}"></td>
            <td th:text="${club.email}"></td>
            <td th:text="${club.phoneNumber2}"></td>
            <td th:text="${club.webPage}"></td>
            <td th:text="${club.addressNumber}"></td>
            <td th:text="${club.ownerOfAthleticsClub}"></td>
        </tr>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Stwórz klub</legend>
        <!--/*@thymesVar id="club" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.athleticsclub.AthleticsClubWriteModel"*/-->
        <form method="post" th:action="@{/club/create}" th:object="${club}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Nazwa:
                <input type="text" autofocus="autofocus" th:field="*{name}">
            </label>
            <label>Data założenia:
                <input type="date" autofocus="autofocus" th:field="*{establishedDate}">
            </label>
            <label>Numer telefonu:
                <input type="text" autofocus="autofocus" th:field="*{phoneNumber}">
            </label>
            <label>Numer telefonu 2:
                <input type="text" autofocus="autofocus" th:field="*{phoneNumber2}">
            </label>
            <label>Email:
                <input type="email" autofocus="autofocus" th:field="*{email}">
            </label>
            <label>Strona www:
                <input type="text" autofocus="autofocus" th:field="*{webPage}">
            </label>

            <label>Adres:
                <select th:field="*{addressNumber}" class="form-control" id="dropDownList1">
                    <option value="0">Wybierz dostępny adres</option>
                    <option th:each="address : ${addresses.entrySet()}" th:value="${address.key}"
                            th:text="${address.value}"></option>
                </select>
            </label>

            <label>Właściciel:
                <select th:field="*{ownerOfAthleticsClub}" class="form-control" id="dropDownList2">
                    <option value="0">Wybierz właściciela</option>
                    <option th:each="owner : ${owners.entrySet()}" th:value="${owner.key}"
                            th:text="${owner.value}"></option>
                </select>
            </label>

            <input type="submit" value="Dodaj klub">
        </form>
    </fieldset>
</main>
</body>
</html>