<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Nowy pracownik</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Pracownicy</legend>
        <a th:href="@{/createworker}">Dodaj pracownika</a>
        <a th:href="@{/worker/getAll}">Wypisz pracowników</a>
        <a th:href="@{/worker/sortview}">Sortuj pracowników</a>
        <a th:href="@{/worker/salaryview}">Sortuj wg płac</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Nowy pracownik</legend>
        <!--/*@thymesVar id="worker" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.worker.WorkerWriteModel"*/-->
        <form method="post" th:action="@{/createworker/worker}" th:object="${worker}" modelAttribute="worker">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Imię
                <input type="text" autofocus="autofocus" th:field="*{name}">
            </label>
            <label>Nazwisko
                <input type="text" autofocus="autofocus" th:field="*{lastname}">
            </label>
            <label>Data urodzenia
                <input type="date" autofocus="autofocus" th:field="*{dateOfBirthday}">
            </label>
            <label>PESEL
                <input type="text" autofocus="autofocus" th:field="*{pesel}">
            </label>
            <label>Płeć
                <input type="text" autofocus="autofocus" th:field="*{sex}">
            </label>
            <label>Numer telefonu
                <input type="tel" autofocus="autofocus" th:field="*{phoneNumber}">
            </label>
            <label>Adres
                <input type="number" autofocus="autofocus" th:field="*{workerAddressNumber}">
            </label>
            <label>ATHLETIC CLUB(?)
                <input type="number" autofocus="autofocus" th:field="*{athleticsClubWorker}">
            </label>
            <label>Pensja
                <input type="number" autofocus="autofocus" th:field="*{workerSalary}">
            </label>
            <input type="submit" value="Dodaj pracownika">
        </form>
    </fieldset>

</main>
</body>
</html>