<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Nowa licencja</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/sportfacility}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Klub</legend>
        <a th:href="@{/owner}">Właściciele</a>
        <a th:href="@{/createowner}">Dodaj właściciela</a>
        <a th:href="@{/postoffice}">Poczta</a>
        <a th:href="@{/createpostoffice}">Dodaj pocztę</a>
        <a th:href="@{/address}">Adres</a>
        <a th:href="@{/createaddress}">Dodaj adres</a>
        <a th:href="@{/license}">Licencje</a>
        <a th:href="@{/createlicense}">Dodaj licencję</a>
    </fieldset>



    <fieldset style="margin-top: 30px">
        <legend>Zarejestruj licencje</legend>
        <!--/*@thymesVar id="license" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.sportlicense.SportLicenseWriteModel"*/-->
        <form method="post" th:action="@{/license/create}" th:object="${license}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Data ważności:
                <input type="date" autofocus="autofocus" th:field="*{expirationDate}">
            </label>
            <label>Data wydania:
                <input type="date" autofocus="autofocus" th:field="*{releaseDate}">
            </label>
            <label>Uprawnienia:
                <input type="text" autofocus="autofocus" th:field="*{permission}">
            </label>
            <label>Kategoria wiekowa:
                <input type="text" autofocus="autofocus" th:field="*{ageCategory}">
            </label>
            <input type="submit" value="Dodaj licencje">
        </form>
    </fieldset>
</main>
</body>
</html>