<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Nowy trening</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Trening</legend>
        <a th:href="@{/}">Lista treningów</a>
        <a th:href="@{/createTraining}">Dodaj trening</a>
        <a th:href="@{/singup}">Zapisz się!</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Nowy trening</legend>

        <!--/*@thymesVar id="train" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingWriteModel"*/-->
        <form method="post" th:action="@{/createTraining/create}" th:object="${createTraining}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Data treningu
                <input type="date" autofocus="autofocus" th:field="*{trainingDate}">
            </label>
            <label>Dyscyplina
                <input type="text" autofocus="autofocus" th:field="*{discipline}">
            </label>
            <label>Typ
                <input type="text" autofocus="autofocus" th:field="*{type}">
            </label>
            <label>Obciążenie treningu
                <input type="text" autofocus="autofocus" th:field="*{forceLoad}">
            </label>
            <label>Wybierz klub
                <select th:field="*{athleticsClub}" class="form-control" id="dropDownList1">
                    <option value="0">Wybierz dostępny adres</option>
                    <option th:each="club : ${clubs.entrySet()}" th:value="${club.key}"
                            th:text="${club.value}"></option>
                </select>
            </label>
            <input type="submit" value="Stwórz trening">
        </form>
    </fieldset>
</main>
</body>
</html>