<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Nowy sprzęt sportowy</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>
<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Sprzęt</legend>
        <a th:href="@{/getll}">Cały sprzęt</a>
        <a th:href="@{/createequpment}">Dodaj sprzęt</a>
        <a th:href="@{/createequipmentproducer.html}">Dodaj producenta</a>
        <a th:href="@{/equipmentproducer.html}">Wyświetl producentów</a>
    </fieldset>


    <fieldset style="margin-top: 30px">
        <legend>Dodaj sprzęt</legend>
        <!--/*@thymesVar id="equipment" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.sportequipment.SportEquipmentWriteModel"*/-->
        <form method="post" th:action="@{/equipment/create}" th:object="${equipment}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Data zakupu:
                <input type="date" autofocus="autofocus" th:field="*{dateOfPurchase}">
            </label>
            <label>Ilość sprzętu
                <input type="number" autofocus="autofocus" th:field="*{numberOfEquipment}">
            </label>
            <label>Wartość sprzętu:
                <input type="number" autofocus="autofocus" th:field="*{valueOfEquipment}">
            </label>
            <label>Stan:
                <input type="text" autofocus="autofocus" th:field="*{condition}">
            </label>
            <label>W użyciu:
                <input type="checkbox" autofocus="autofocus" th:field="*{inUse}">
            </label>
            <input type="submit" value="Dodaj sprzęt">
        </form>
    </fieldset>
</main>
</body>
</html>