<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
  <meta charset="UTF-8">
  <title>Nowy właściciel</title>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
  <fieldset>
    <a th:href="@{/home}">Strona główna</a>
    <a th:href="@{/club}">O klubie</a>
    <a th:href="@{/training}">Treningi</a>
    <a th:href="@{/}">Obiekty</a>
    <a th:href="@{/worker}">Pracownicy</a>
    <a th:href="@{/equipment}">Sprzęt</a>
  </fieldset>

  <fieldset>
    <legend>Klub</legend>
    <a th:href="@{/owner}">Właściciele</a>
    <a th:href="@{/createowner}">Dodaj właściciela</a>
    <a th:href="@{/postoffice}">Poczta</a>
    <a th:href="@{/createpostoffice}">Dodaj pocztę</a>
    <a th:href="@{/address}">Adres</a>
    <a th:href="@{/createaddress}">Dodaj adres</a>
    <a th:href="@{/license}">Licencje</a>
    <a th:href="@{/createlicense}">Dodaj licencję</a>
  </fieldset>

  <fieldset style="margin-top: 30px">
    <legend>Stwórz właściciela</legend>
    <!--/*@thymesVar id="address" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.address.AddressWriteModel"*/-->
    <form method="post" th:action="@{/owner/create}" th:object="${owner}">
      <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
      <label>Imię:
        <input type="text" autofocus="autofocus" th:field="*{name}">
      </label>
      <label>Nazwisko:
        <input type="text" autofocus="autofocus" th:field="*{surname}">
      </label>
      <!--            <label>Data urodzenia:-->
      <!--                <input type="date" autofocus="autofocus" th:field="*{dateOfBirth}">-->
      <!--            </label>-->
      <label>Pesel:
        <input type="number" autofocus="autofocus" th:field="*{pesel}">
      </label>
      <label>Płeć:
        <input type="text" autofocus="autofocus" th:field="*{sex}">
      </label>
      <label>Numer konta bankowego:
        <input type="number" autofocus="autofocus" th:field="*{bankAccountNumber}">
      </label>
      <label>Email:
        <input type="text" autofocus="autofocus" th:field="*{email}">
      </label>
      <label>Numer telefonu:
        <input type="number" autofocus="autofocus" th:field="*{phoneNumber}">
      </label>

      <label>Adres:
        <select th:field="*{addressNumber}" class="form-control" id="dropDownList3">
          <option value="0">Wybierz dostępny adres</option>
          <option th:each="address : ${addresses.entrySet()}" th:value="${address.key}"
                  th:text="${address.value}"></option>
        </select>
      </label>

      <input type="submit" value="Dodaj właściciela">
    </form>
  </fieldset>

</main>
</body>
</html>