<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Creation</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <legend>Worker</legend>
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/worker}">Worker</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Create Worker</legend>
        <!--/*@thymesVar id="worker" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.worker.WorkerWriteModel"*/-->
        <form method="post" th:action="@{/createworker/worker}" th:object="${worker}" modelAttribute="worker">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>FIRSTNAME
                <input type="text" autofocus="autofocus" th:field="*{name}">
            </label>
            <label>SURNAME:
                <input type="text" autofocus="autofocus" th:field="*{lastname}">
            </label>
            <label>DATE OF BIRTH:
                <input type="date" autofocus="autofocus" th:field="*{dateOfBirthday}">
            </label>
            <label>PESEL
                <input type="text" autofocus="autofocus" th:field="*{pesel}">
            </label>
            <label>GENDER
                <input type="text" autofocus="autofocus" th:field="*{sex}">
            </label>
            <label>PHONE NUMBER
                <input type="tel" autofocus="autofocus" th:field="*{phoneNumber}">
            </label>
            <label>ADDRESS
                <input type="number" autofocus="autofocus" th:field="*{workerAddressNumber}">
            </label>
            <label>ATHLETIC CLUB
                <input type="number" autofocus="autofocus" th:field="*{athleticsClubWorker}">
            </label>
            <label>SALARY
                <input type="number" autofocus="autofocus" th:field="*{workerSalary}">
            </label>
            <input type="submit" value="Create Worker">
        </form>
    </fieldset>

</main>
</body>
</html>