<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Nowy pracownik</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/sportfacility}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Pracownicy</legend>
        <a th:href="@{/worker}">Dodaj pracownika</a>
        <a th:href="@{/worker/getAll}">Wypisz pracowników</a>
        <a th:href="@{/worker/sortview}">Sortuj pracowników</a>
        <a th:href="@{/worker/salaryview}">Sortuj wg płac</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <fieldset style="margin-top: 30px">
            <legend>Nowy pracownik</legend>
            <!--/*@thymesVar id="worker" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.worker.WorkerWriteModel"*/-->
            <form method="post" th:action="@{/worker/create}" th:object="${worker}">
                <label>Imię:
                    <input type="text" autofocus="autofocus" th:field="*{name}" th:errorclass="'Bdc(red)'" placeholder="Imię">
                    <p class="C(red)" th:if="${#fields.hasErrors('name')}"  th:errors="*{name}" />
                </label>
                <label>Nazwisko:
                    <input type="text" autofocus="autofocus" th:field="*{lastname}" th:errorclass="'Bdc(red)'" placeholder="Nazwisko">
                    <p class="C(red)" th:if="${#fields.hasErrors('lastname')}"  th:errors="*{lastname}" />
                </label>
                <label>Data urodzenia:
                    <input type="date" autofocus="autofocus" th:field="*{dateOfBirthday}" th:errorclass="'Bdc(red)'" placeholder="Data urodzenia">
                    <p class="C(red)" th:if="${#fields.hasErrors('dateOfBirthday')}"  th:errors="*{dateOfBirthday}" />
                </label>
                <label>Numer PESEL:
                    <input type="text" autofocus="autofocus" th:field="*{pesel}" th:errorclass="'Bdc(red)'" placeholder="PESEL">
                    <p class="C(red)" th:if="${#fields.hasErrors('pesel')}"  th:errors="*{pesel}" />
                </label>
                <label>Płeć:
                    <input type="text" autofocus="autofocus" th:field="*{sex}" th:errorclass="'Bdc(red)'" placeholder="Płeć">
                    <p class="C(red)" th:if="${#fields.hasErrors('sex')}"  th:errors="*{sex}" />
                </label>
                <label>Numer telefonu:
                    <input type="tel" autofocus="autofocus" th:field="*{phoneNumber}" th:errorclass="'Bdc(red)'" placeholder="Numer telefonu">
                    <p class="C(red)" th:if="${#fields.hasErrors('phoneNumber')}"  th:errors="*{phoneNumber}" />
                </label>
                <label>Numer konta bankowego:
                    <input type="text" autofocus="autofocus" th:field="*{bankAccount}" placeholder="Numer konta bankowego">
                </label>
                <label>Email:
                    <input type="email" autofocus="autofocus" th:field="*{email}" placeholder="Email">
                </label>

                <label>Wybierz adres:
                    <select th:field="*{workerAddressNumber}" class="form-control" id="dropDownList2">
                        <option value="0">Wybierz dostępny adres</option>
                        <option th:each="address : ${addresses.entrySet()}" th:value="${address.key}"
                                th:text="${address.value}"></option>
                    </select>
                </label>

                <label>Wybierz klub:
                    <select th:field="*{athleticsClubWorker}" class="form-control" id="dropDownList1">
                        <option value="0">Wybierz dostępny klub</option>
                        <option th:each="club : ${clubs.entrySet()}" th:value="${club.key}"
                                th:text="${club.value}"></option>
                    </select>
                </label>

                <button type="submit">Dodaj pracownika</button>
                <button type="reset">Wyczyść</button>
            </form>
        </fieldset>

</main>
</body>
</html>