<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
  <meta charset="UTF-8">
  <title>Nowy obiekt</title>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
  <fieldset>
    <a th:href="@{/home}">Strona główna</a>
    <a th:href="@{/club}">O klubie</a>
    <a th:href="@{/training}">Treningi</a>
    <a th:href="@{/}">Obiekty</a>
    <a th:href="@{/worker}">Pracownicy</a>
    <a th:href="@{/equipment}">Sprzęt</a>
  </fieldset>

  <fieldset>
    <legend>Obiekt sportowy</legend>
    <a th:href="@{/}">Lista obiektów</a>
    <a th:href="@{/createSportFacility}">Dodaj obiekt</a>
  </fieldset>

  <fieldset style="margin-top: 30px">
    <legend>Nowy obiekt</legend>

    <!--/*@thymesVar id="sportFacility" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.sportfacility.SportFacilityWriteModel"*/-->
    <form method="post" th:action="@{/createSportFacility/create}" th:object="${sportFacility}">
      <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
      <label>Nazwa
        <input type="text" autofocus="autofocus" th:field="*{facilityName}">
      </label>
      <label>Data otwarcia
        <input type="date" autofocus="autofocus" th:field="*{openDate}">
      </label>
      <label>Typ
        <input type="text" autofocus="autofocus" th:field="*{facilityType}">
      </label>
      <label>Przykryty?
        <input type="text" autofocus="autofocus" th:field="*{coveredFacility}">
      </label>
      <label>Pojemność
        <input type="number" autofocus="autofocus" th:field="*{capacity}">
      </label>

      <label>Wybierz klub:
        <select th:field="*{athleticsClubFacility}" class="form-control" id="dropDownList1">
          <option value="0">Wybierz dostępny klub</option>
          <option th:each="club : ${clubs.entrySet()}" th:value="${club.key}"
                  th:text="${club.value}"></option>
        </select>
      </label>

      <label>Wybierz adres:
        <select th:field="*{facilityAddress}" class="form-control" id="dropDownList2">
          <option value="0">Wybierz dostępny adres</option>
          <option th:each="address : ${addresses.entrySet()}" th:value="${address.key}"
                  th:text="${address.value}"></option>
        </select>
      </label>

      <input type="submit" value="Stwórz obiekt">
    </form>
  </fieldset>
</main>
</body>
</html>