<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Sprzęt sportowy</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>
<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Sprzęt</legend>
        <a th:href="@{/getll}">Cały sprzęt</a>
        <a th:href="@{/createequpment}">Dodaj sprzęt</a>
        <a th:href="@{/createequipmentproducer.html}">Dodaj producenta</a>
        <a th:href="@{/equipmentproducer.html}">Wyświetl producentów</a>



    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Cały sprzęt</legend>
        <tr th:each="equipment : ${equipments}">
            <td th:text="${equipment.dateOfPurchase}"></td>
            <td th:text="${equipment.numberOfEquipment}"></td>
            <td th:text="${equipment.valueOfEquipment}"></td>
            <td th:text="${equipment.condition}"></td>
            <td th:text="${equipment.inUse}"></td>
        </tr>
    </fieldset>

</main>
</body>
</html>