<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Producenci sprzętu sportowego</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <legend>Sprzęt</legend>
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/equipmentproducer/getAll}">Pobierz producentów sprzętu</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Wszyscy producenci sprzętu sportowego:</legend>
        <tr th:each="equipmentproducer : ${equipmentproducers}">
            <td th:text="${equipmentproducer.brand}"></td>
            <td th:text="${equipmentproducer.model}"></td>
            <td th:text="${equipmentproducer.productionYear}"></td>
            <td th:text="${equipmentproducer.destiny}"></td>
            <td th:text="${equipmentproducer.sportEquipment}"></td>
        </tr>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Dodaj producenta sprzętu</legend>
        <!--/*@thymesVar id="equipmentproducer" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.equipmentproducer.EquipmentProducerWriteModel"*/-->
        <form method="post" th:action="@{/equipmentproducer/create}" th:object="${equipmentproducer}">
            <label>Marka:
                <input type="text" autofocus="autofocus" th:field="*{brand}">
            </label>
            <label>Model:
                <input type="text" autofocus="autofocus" th:field="*{model}">
            </label>
            <label>Data produkcji:
                <input type="date" autofocus="autofocus" th:field="*{productionYear}">
            </label>
            <label>Przeznaczenie:
                <input type="text" autofocus="autofocus" th:field="*{destiny}">
            </label>
            <input type="submit" value="Dodaj producenta">
        </form>
    </fieldset>
</main>
</body>
</html>