<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<style>
  .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu .navbar navbar-expand-lg navbar{
    background-color: #000000;
    color:#5a8c7d;

  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */


  }
  .col-2{
    width: 15%;
  }
  .dropdown-menu{
    width: fit-content;
  }
  .dropdown-item{
    padding-left: 10px;
  }
  .carousel-item{
    data-mdb-interval:5s;
  }
</style>


<body>
<header style="background-color:#5a8c7d ">
  <div class="row" style="margin-left: 15%; margin-right: 15%; justify-content: center">
    <div class="col-1"></div>
    <div class="col-2">
      <nav class="navbar navbar-expand-lg navbar" style="color: #3e4251; align-items: center; text-align: right"  >
        <div class="collapse navbar-collapse" style="align-items: center">
          <ul class="navbar-nav">
              <button class="btn btn" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/home}" style="align-items: center;">
                Home
              </button>
              </ul>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-2">
      <nav class="navbar navbar-expand-lg navbar" style="color: #3e4251; align-items: center">
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/club}">
                O klubie
              </button>
              <ul class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/owner}">Właściciele</a>
                <a class="dropdown-item" th:href="@{/createowner}">Dodaj właściciela</a>
                <a class="dropdown-item" th:href="@{/address}">Adres</a>
                <a class="dropdown-item" th:href="@{/address}">Dodaj adres</a>
                <a class="dropdown-item" th:href="@{/license}">Licencje</a>
                <a class="dropdown-item" th:href="@{/license}">Dodaj licencję</a>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-2">
      <nav class="navbar navbar-expand-lg navbar" style="color: #3e4251; align-items: center">
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/training}">
                Treningi
              </button>
              <ul class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/training/getAll}">Lista treningów</a>
                <a class="dropdown-item" th:href="@{/training}">Dodaj trening</a>
                <a class="dropdown-item" th:href="@{/training}">Zapisz się!</a>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-2">
      <nav class="navbar navbar-expand-lg navbar" style="color: #3e4251; align-items: center" >
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"; th:href="@{/sportfacilities}">
                Obiekty
              </button>
              <ul class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/sportfacility/getAll}">Lista obiektów</a>
                <a class="dropdown-item" th:href="@{/sportfacility}">Dodaj obiekt</a>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-2">
      <nav class="navbar navbar-expand-lg navbar" style="color: #3e4251; align-items: center">
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/worker}">
                Pracownicy
              </button>
              <ul class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/worker}">Pracownicy</a>
                <a class="dropdown-item" th:href="@{/worker/getAll}">Wypisz pracowników</a>
                <a class="dropdown-item" th:href="@{/worker/sortview}">Sortuj pracowników</a>
                <a class="dropdown-item" th:href="@{/worker/salaryview}">Sortuj wg płac</a>
              </ul>
            </li>
          </ul>
        </div>
     </nav>
    </div>
    <div class="col-2">
      <nav class="navbar navbar-expand-lg navbar" style="color: #3e4251; align-items: center">
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/equipment}">
                Sprzęt
              </button>
              <ul class="dropdown-menu">
                <a  class="dropdown-item" th:href="@{equipment/getAll}">Cały sprzęt</a>
                <a  class="dropdown-item" th:href="@{/equipment}">Dodaj sprzęt</a>
                <a  class="dropdown-item" th:href="@{/equipmentproducer}">Wyświetl producentów</a>
                <a  class="dropdown-item" th:href="@{/equipment}">Dodaj producenta</a>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="col-1"></div>
</header>


  <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel" style="padding-bottom:0px">
    <div class="carousel-indicators">
      <button
              type="button"
              data-mdb-target="#carouselExampleCaptions"
              data-mdb-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
      ></button>
      <button
              type="button"
              data-mdb-target="#carouselExampleCaptions"
              data-mdb-slide-to="1"
              aria-label="Slide 2"
      ></button>
      <button
              type="button"
              data-mdb-target="#carouselExampleCaptions"
              data-mdb-slide-to="2"
              aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img1.webp" class="d-block w-100" alt="płotki"/>
      </div>
      <div class="carousel-item">
        <img src="img2.webp" class="d-block w-100" alt="bieg"/>
      </div>
      <div class="carousel-item">
        <img src="img3.webp" class="d-block w-100" alt="oszczep"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





</body>
</html>