<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/">
<style>

    header{

        background-color: aliceblue;


    }
    marquee{
        font-size: 30px;
        color: #b00404;
        font-family: SansSerif;
    }

    main {
        max-width: 1792px;
        height: 4096px;
        background-image: url('image1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        /*background-position-y: 41px;*/
        background-clip: padding-box;
        padding-bottom:1000px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>

</head>
<header>
    <ul class="nav nav-tabs justify-content-lg-around">

        <nav class="nav nav-pills nav-fill">
            <a class="nav-link active" aria-current="page" th:href="@{/home}">Strona główna</a>
        </nav>


        <a class="nav-link dropdown-toggle" th:href="@{/club}" role="button" data-bs-toggle="dropdown" aria-expanded="false">O klubie</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/owner}">Właściciele</a>
            <a class="dropdown-item" th:href="@{/createowner}">Dodaj właściciela</a>
            <a class="dropdown-item" th:href="@{/postoffice}">Poczta</a>
            <a class="dropdown-item" th:href="@{/createpostoffice}">Dodaj pocztę</a>
            <a class="dropdown-item" th:href="@{/address}">Adres</a>
            <a class="dropdown-item" th:href="@{/createaddress}">Dodaj adres</a>
            <a class="dropdown-item" th:href="@{/license}">Licencje</a>
            <a class="dropdown-item" th:href="@{/createlicense}">Dodaj licencję</a>
        </div>

        <a class="nav-link dropdown-toggle" th:href="@{/training}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Treningi</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/training/getAll}">Lista treningów</a>
            <a class="dropdown-item" th:href="@{/createTraining}">Dodaj trening</a>
            <a class="dropdown-item" th:href="@{/singup}">Zapisz się!</a>
        </div>

        <a class="nav-link dropdown-toggle" th:href="@{/sportfacilities}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Obiekty</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/sportfacility/getAll}">Lista obiektów</a>
            <a class="dropdown-item" th:href="@{/createSportFacility}">Dodaj obiekt</a>
        </div>

        <a class="nav-link dropdown-toggle" th:href="@{/worker}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pracownicy</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/createworker}">Dodaj pracownika</a>
            <a class="dropdown-item" th:href="@{/worker/getAll}">Wypisz pracowników</a>
            <a class="dropdown-item" th:href="@{/worker/sortview}">Sortuj pracowników</a>
            <a class="dropdown-item" th:href="@{/worker/salaryview}">Sortuj wg płac</a>
        </div>
        <a class="nav-link dropdown-toggle" th:href="@{/equipment}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sprzęt</a>
        <div class="dropdown-menu">
            <a  class="dropdown-item" th:href="@{equipment/getAll}">Cały sprzęt</a>
            <a  class="dropdown-item" th:href="@{/createequpment}">Dodaj sprzęt</a>
            <a  class="dropdown-item" th:href="@{/createequipmentproducer}">Dodaj producenta</a>
            <a  class="dropdown-item" th:href="@{/equipmentproducer}">Wyświetl producentów</a>
        </div>
    </ul>

</header>

<body>



<!--    <img src="" id="image">-->

<!--    <script type="text/javascript">-->
<!--        let image = document.getElementById('image');-->
<!--        let images = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg']-->
<!--        setInterval(function () {-->
<!--            let random = Math.floor(Math.random() * 4);-->
<!--            image.src = images[random];-->
<!--        }, 800);-->
<!--    </script>-->


<main>
    <marquee behavior="" direction="">Dołącz już dziś!</marquee>


</main>
</body>
</html>
