<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>
</main>
</body>
</html>
