<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Licencje</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <style>
        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: red;
        }

        .P\(0\) {
            padding: 0;
        }
        .P\(10px\) {
            padding: 10px;
        }
    </style>
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/license/getAll}">Pokaż wszystkie licencje</a>
    </fieldset>


    <fieldset style="margin-top: 30px">
        <legend>Licencje</legend>
        <tr th:each="license : ${licenses}">
            <td th:text="${license.expirationDate}"></td>
            <td th:text="${license.releaseDate}"></td>
            <td th:text="${license.permission}"></td>
            <td th:text="${license.ageCategory}"></td>
        </tr>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Zarejestruj licencje</legend>
        <!--/*@thymesVar id="license" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.sportlicense.SportLicenseWriteModel"*/-->
        <form method="post" th:action="@{/license/create}" th:object="${license}">
            <label>Data ważności:
                <input type="date" autofocus="autofocus" th:field="*{expirationDate}">
                <p class="C(red)" th:if="${#fields.hasErrors('expirationDate')}"  th:errors="*{expirationDate}" />
            </label>
            <label>Data wydania:
                <input type="date" autofocus="autofocus" th:field="*{releaseDate}">
                <p class="C(red)" th:if="${#fields.hasErrors('releaseDate')}"  th:errors="*{releaseDate}" />
            </label>
            <label>Uprawnienia:
                <select th:field="*{permission}" class="form-control" id="dropDownList1" th:errorclass="'Bdc(red)'">
                    <option value="Trener">Trener</option>
                    <option value="Zawodnik">Zawodnik</option>
                    <p class="C(red)" th:if="${#fields.hasErrors('permission')}"  th:errors="*{permission}" />
                </select>
            </label>
            <label>Kategoria wiekowa:
                <select th:field="*{ageCategory}" class="form-control" id="dropDownList2" >
                    <option value="Młodzik">Młodzik</option>
                    <option value="Junior młodszy">Junior młodszy</option>
                    <option value="Junior">Junior</option>
                    <option value="Młodzieżowiec">Młodzieżowiec</option>
                    <option value="Senior">Senior</option>
                </select>
            </label>
            <button type="submit">Dodaj licencję</button>
            <button type="reset">Wyczyść</button>
        </form>
    </fieldset>

</main>
</body>
</html>