<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Klub lekkoatletyczny</title>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body>
<main>

  <fieldset>
    <a th:href="@{/}">Strona główna</a>
    <a th:href="@{/club}">O klubie</a>
    <a th:href="@{/training}">Treningi</a>
    <a th:href="@{/}">Obiekty</a>
    <a th:href="@{/equipment}">Sprzęt</a>
  </fieldset>

  <h2>
    Witaj przybyszu z internetów!
  </h2>

</main>
</body>
</html>
