<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Właściciele</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <legend>Właścicel</legend>
        <a th:href="@{/}">Strona główna</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/club}">Kluby</a>
        <a th:href="@{/owner/getAll}">Pobierz wszystkich właścicieli</a>
    </fieldset>

    <fieldset>
        <legend>Klub</legend>
        <a th:href="@{/owner}">Właściciel</a>
        <a th:href="@{/createowner}">Dodaj właściciela</a>
        <a th:href="@{/postoffice}">Poczta</a>
        <a th:href="@{/createpostoffice}">Dodaj pocztę</a>
        <a th:href="@{/address}">Adres</a>
        <a th:href="@{/createaddress}">Dodaj adres</a>
        <a th:href="@{/license}">Licencje</a>
        <a th:href="@{/createlicense}">Dodaj licencję</a>
    </fieldset>
    <fieldset style="margin-top: 30px">
        <legend>Wszyscy Właściciele</legend>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.name}"></td>
            <td th:text="${owner.surname}"></td>
            <td th:text="${owner.dateOfBirth}"></td>
            <td th:text="${owner.pesel}"></td>
            <td th:text="${owner.bankAccountNumber}"></td>
            <td th:text="${owner.email}"></td>
            <td th:text="${owner.phoneNumber}"></td>
        </tr>
    </fieldset>
</main>
</body>
</html>