<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Właściciele</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <style>
        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: red;
        }

        .P\(0\) {
            padding: 0;
        }
        .P\(10px\) {
            padding: 10px;
        }
    </style>
</head>
<body>

<main>
    <fieldset>
        <legend>Właścicel</legend>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/owner/getAll}">Pokaż wszystkich właścicieli</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Wszyscy Właściciele</legend>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.name}"></td>
            <td th:text="${owner.surname}"></td>
            <td th:text="${owner.dateOfBirth}"></td>
            <td th:text="${owner.pesel}"></td>
            <td th:text="${owner.bankAccountNumber}"></td>
            <td th:text="${owner.email}"></td>
            <td th:text="${owner.phoneNumber}"></td>
        </tr>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Stwórz właściciela</legend>
        <!--/*@thymesVar id="owner" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.owner.OwnerWriteModel"*/-->
        <form method="post" th:action="@{/owner/create}" th:object="${owner}">
            <label>Imię:
                <input type="text" autofocus="autofocus" th:field="*{name}" th:errorclass="'Bdc(red)'" placeholder="Imię">
                <p class="C(red)" th:if="${#fields.hasErrors('name')}"  th:errors="*{name}" />
            </label>
            <label>Nazwisko:
                <input type="text" autofocus="autofocus" th:field="*{surname}" th:errorclass="'Bdc(red)'" placeholder="Nazwisko">
                <p class="C(red)" th:if="${#fields.hasErrors('surname')}"  th:errors="*{surname}" />
            </label>
            <label>Data urodzenia:
                <input type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" autofocus="autofocus" th:field="*{dateOfBirth}" th:errorclass="'Bdc(red)'"
                placeholder="Data urodzenia">
                <p class="C(red)" th:if="${#fields.hasErrors('dateOfBirth')}"  th:errors="*{dateOfBirth}" />
            </label>
            <label>PESEL:
                <input type="number" autofocus="autofocus" th:field="*{pesel}" placeholder="PESEL" >
            </label>
            <label>Płeć:
                <input type="text" autofocus="autofocus" th:field="*{sex}" th:errorclass="'Bdc(red)'">
                <p class="C(red)" th:if="${#fields.hasErrors('sex')}"  th:errors="*{sex}" />
            </label>
            <label>Numer konta bankowego:
                <input type="number" autofocus="autofocus" th:field="*{bankAccountNumber}" placeholder="Numer konta bankowego">
            </label>
            <label>Email:
                <input type="text" autofocus="autofocus" th:field="*{email}" placeholder="Email">
            </label>
            <label>Numer telefonu:
                <input type="number" autofocus="autofocus" th:field="*{phoneNumber}" th:errorclass="'Bdc(red)'" placeholder="Numer telefonu">
                <p class="C(red)" th:if="${#fields.hasErrors('phoneNumber')}"  th:errors="*{phoneNumber}" />
            </label>

            <label>Adres:
                <select th:field="*{addressNumber}" class="form-control" id="dropDownList3">
                    <option value="0">Wybierz dostępny adres</option>
                    <option th:each="address : ${addresses.entrySet()}" th:value="${address.key}"
                            th:text="${address.value}"></option>
                </select>
            </label>
            <button type="submit">Dodaj właściciela</button>
            <button type="reset">Wyczyść</button>
        </form>
    </fieldset>
</main>
</body>
</html>