<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https:\\cdn.jsdelivr.net\npm\bootstrap@4.3.1\dist\css\bootstrap.min.css">
    <title>POSTOFFICE</title>
</head>
<body>
<main>
    <!--/*@thymesVar id="postoffice" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.postoffice.PostOffice"*/-->
    <form action="#" method="post" th:action="@{/postoffices}" th:object="${postoffice}">
    <fieldset>
        <legend>Nowa poczta</legend>
        <label>Kod pocztowy
            <input type="text" th:field="*{zipCode}"/>
        </label>
    </fieldset>
    </form>


</main>

</body>
</html>