<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Dodawanie nowego właściciela</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

</head>
<head>
    <style>

        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: #ff0000;
        }

        .P\(0\) {
            padding: 0;
        }

        .P\(10px\) {
            padding: 10px;
        }

        main {
            background-color: black;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu .navbar navbar-expand-lg navbar {
            background-color: #000000;
            color: #5a8c7d;

        }

        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* remove the gap so it doesn't close */


        }

        .col-2 {
            width: 10%;
        }

        .dropdown-menu {
            width: fit-content;
        }

        .dropdown-item {
            padding-left: 10px;
        }


    </style>

</head>
<body style="background-color: tan">

<header style="background-color:#000000 ">
    <div class="row" style="margin-left: 5%; margin-right: 5%; justify-content: center">
        <div class="col-1" style="color:whitesmoke; text-align: right; font-size: larger; margin-top: 5px"></div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar"
                 style="color: whitesmoke; align-items: center; text-align: right">
                <div class="collapse navbar-collapse" style="align-items: center">
                    <ul class="navbar-nav">
                        <a class="btn btn" aria-expanded="false" th:href="@{/}"
                           style="align-items: center; color: whitesmoke">Home</a>
                    </ul>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/club/getAll}" style="color: whitesmoke">
                                Klub
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/club/getAll}">Kluby</a>
                                <a class="dropdown-item" th:href="@{/owner/getAll}">Właściciele</a>
                                <a class="dropdown-item" th:href="@{/address/getAll}">Adresy</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/training}" style="color: whitesmoke">
                                Treningi
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/training/getAll}">Treningi</a>
                                <a class="dropdown-item" th:href="@{/training/signup}">Zapisz się!</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" ;
                                    th:href="@{/facility}" style="color: whitesmoke">
                                Obiekty
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/facility/getAll}">Obiekty sportowe</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/worker}" style="color: whitesmoke">
                                Pracownicy
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/worker/getAll}">Pracownicy</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/equipment/getAll}" style="color: whitesmoke">
                                Sprzęt
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/equipment/getAll}">Sprzęt</a>
                                <a class="dropdown-item" th:href="@{/producer/getAll}">Producenci sprzętu</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <div sec:authorize="isAnonymous()">
                <div id="form1">
                    <div class="container">
                        <a class="btn text-white" style="background-color: #6a7d8e; width: 130px; margin-top: 8px"
                           th:href="@{/login}" role="button">
                            Zaloguj się
                        </a>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div id="form2">
                    <div class="container">
                        <a class="btn text-white" style="background-color: #6a7d8e; width: 130px; margin-top: 8px"
                           th:href="@{/logout}" role="button">
                            Wyloguj się
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div sec:authorize="isAuthenticated()">
                <div id="form3">
                    <div class="container">
                        <a class="btn" style="color: lightgray; width: 270px; margin-top: 8px">
                            <span sec:authorize="hasRole('ADMIN')">Administrator</span>
                            <span sec:authorize="hasRole('TRAINER')">Trener</span>
                            <span sec:authorize="hasRole('ATHLETE')">Zawodnik</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--tutaj są formsy-->

<div class="container square-box d-flex justify-content-center align-items-center" style="margin-top: 10px">

    <fieldset style="margin-top: 50px">

        <div th:if="${!edit}">
            <!--/*@thymesVar id="owner" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.owner.OwnerWriteModel"*/-->
            <form method="post" th:action="@{/owner/create}" th:object="${owner}">

                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="name">Imię</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control"
                               th:errorclass="'Bdc(red)'"
                               placeholder="Imię"/>
                        <p class="C(red)" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>

                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="surname">Nazwisko</label>
                            <input type="text" id="surname" th:field="*{surname}" class="form-control"
                                   th:errorclass="'Bdc(red)'"
                                   placeholder="Nazwisko"/>
                            <p class="C(red)" th:if="${#fields.hasErrors('surname')}"
                               th:errors="*{surname}"></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Pesel</label>
                        <input type="number" th:field="*{pesel}" class="form-control"
                               th:errorclass="'Bdc(red)'"
                               placeholder="PESEL"
                               maxlength="11"
                               minlength="11"
                        />
                        <p class="C(red)" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}"></p>
                        </p>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="dateOfBirthday">Data urodzenia</label>
                            <input type="date" id="dateOfBirthday" th:field="*{dateOfBirth}"
                                   class="form-control"
                                   placeholder="Data urodzenia" th:errorclass="'Bdc(red)'"/>
                            <p class="C(red)" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Płeć</label>
                            <select th:field="*{sex}" class="form-control" th:errorclass="'Bdc(red)'">
                                <option value="Kobieta">Kobieta</option>
                                <option value="Mężczyzna">Mężczyzna</option>
                                <option value="Inna">Inna</option>
                                <p class="C(red)" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"/>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <label class="form-label">Numer telefonu</label>
                        <input type="number" th:field="*{phoneNumber}" class="form-control"
                               th:errorclass="'Bdc(red)'" placeholder="Numer telefonu"
                               maxlength="9"
                               minlength="9"
                        />
                        <p class="C(red)" th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}"></p>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Numer konta bankowego</label>
                    <input type="number" th:field="*{bankAccountNumber}"
                           class="form-control" placeholder="Numer konta bankowego"
                           maxlength="26"
                           minlength="26"
                    />
                    <p class="C(red)" th:if="${#fields.hasErrors('bankAccountNumber')}"
                       th:errors="*{bankAccountNumber}"></p>
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" th:field="*{email}"
                           class="form-control" placeholder="Email"/>
                    <p class="C(red)" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></p>
                </div>

                <div class="form-outline mb-4">
                    <label for="addressNumber">Wybierz adres</label>
                    <select th:field="*{addressNumber}" class="form-control" id="addressNumber">
                        <option value="0">Wybierz dostępny adres</option>
                        <option th:each="address : ${addresses.entrySet()}"
                                th:value="${address.key}"
                                th:text="${address.value}"></option>
                    </select>
                </div>

                <div class="align-content-center">
                    <button type="submit" class="btn btn-success btn-block mb-4 a">Dodaj</button>
                    <button type="reset" class="btn btn-dark btn-block mb-4 a">Reset danych</button>
                    <a type="button" class="btn btn-danger btn-block mb-4 a" onclick="history.back()">Cofnij</a>
                </div>
            </form>
        </div>

        <div th:if="${edit}">
            <!--/*@thymesVar id="owner" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.owner.OwnerWriteModel"*/-->
            <form method="post" th:action="@{'/owner/edit/' + ${owner.number}}" th:object="${owner}">

                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Imię</label>
                        <input type="text" th:field="*{name}" class="form-control"
                               th:errorclass="'Bdc(red)'"
                               placeholder="Imię"/>
                        <p class="C(red)" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>

                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Nazwisko</label>
                            <input type="text" th:field="*{surname}" class="form-control"
                                   th:errorclass="'Bdc(red)'"
                                   placeholder="Nazwisko"/>
                            <p class="C(red)" th:if="${#fields.hasErrors('surname')}"
                               th:errors="*{surname}"></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Pesel</label>
                        <input type="number" th:field="*{pesel}" class="form-control"
                               th:errorclass="'Bdc(red)'"
                               placeholder="PESEL"
                               max="11"
                               min="11"
                        />
                        <p class="C(red)" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}"></p>
                        </p>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Data urodzenia</label>
                            <input type="date" th:field="*{dateOfBirth}"
                                   class="form-control"
                                   placeholder="Data urodzenia" th:errorclass="'Bdc(red)'"/>
                            <p class="C(red)" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Płeć</label>
                            <select th:field="*{sex}" class="form-control" th:errorclass="'Bdc(red)'">
                                <option value="Kobieta">Kobieta</option>
                                <option value="Mężczyzna">Mężczyzna</option>
                                <option value="Inna">Inna</option>
                                <p class="C(red)" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"/>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <label class="form-label">Numer telefonu</label>
                        <input type="number" th:field="*{phoneNumber}" class="form-control"
                               th:errorclass="'Bdc(red)'" placeholder="Numer telefonu"
                               maxlength="9"
                               minlength="9"
                        />
                        <p class="C(red)" th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}"></p>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Numer konta bankowego</label>
                    <input type="number" th:field="*{bankAccountNumber}"
                           class="form-control" placeholder="Numer konta bankowego"
                           maxlength="26"
                           minlength="26"

                    />
                    <p class="C(red)" th:if="${#fields.hasErrors('bankAccountNumber')}"
                       th:errors="*{bankAccountNumber}"></p>
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" th:field="*{email}"
                           class="form-control" placeholder="Email"/>
                    <p class="C(red)" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></p>
                </div>

                <div class="form-outline mb-4">
                    <label>Wybierz adres</label>
                    <select th:field="*{addressNumber}" class="form-control">
                        <option value="0">Wybierz dostępny adres</option>
                        <option th:each="address : ${addresses.entrySet()}"
                                th:value="${address.key}"
                                th:text="${address.value}"></option>
                    </select>
                </div>

                <div class="align-content-center">
                    <button type="submit" class="btn btn-success btn-block mb-4 a">Zapisz</button>
                    <button type="reset" class="btn btn-dark btn-block mb-4 a">Reset danych</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>
</body>

</html>