<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Dodawanie treningu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

</head>
<head>
    <style>

        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: #ff0000;
        }

        .P\(0\) {
            padding: 0;
        }

        .P\(10px\) {
            padding: 10px;
        }

        main {
            background-color: black;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu .navbar navbar-expand-lg navbar {
            background-color: #000000;
            color: #5a8c7d;

        }

        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* remove the gap so it doesn't close */


        }

        .col-2 {
            width: 10%;
        }

        .dropdown-menu {
            width: fit-content;
        }

        .dropdown-item {
            padding-left: 10px;
        }


    </style>

</head>
<body style="background-color: tan">

<header style="background-color:#000000 ">
    <div class="row" style="margin-left: 5%; margin-right: 5%; justify-content: center">
        <div class="col-1" style="color:whitesmoke; text-align: right; font-size: larger; margin-top: 5px"></div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar"
                 style="color: whitesmoke; align-items: center; text-align: right">
                <ul class="navbar-nav">
                    <a class="btn" aria-expanded="false" th:href="@{/}"
                       style="align-items: center; color: whitesmoke">
                        Home
                    </a>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/club/getAll}" style="color: whitesmoke">
                                Klub
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/club/getAll}">Kluby</a>
                                <a class="dropdown-item" th:href="@{/owner/getAll}">Właściciele</a>
                                <a class="dropdown-item" th:href="@{/address/getAll}">Adresy</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <ul class="navbar-nav">
                    <a class="btn" aria-expanded="false"
                       th:href="@{/training/getAll}" style="color: whitesmoke">
                        Treningi
                    </a>

                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <ul class="navbar-nav">
                    <a class="btn" aria-expanded="false"
                       th:href="@{/facility/getAll}" style="color: whitesmoke">
                        Obiekty
                    </a>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <ul class="navbar-nav">
                    <a class="btn" aria-expanded="false"
                       th:href="@{/worker/getAll}" style="color: whitesmoke">
                        Pracownicy
                    </a>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/equipment/getAll}" style="color: whitesmoke">
                                Sprzęt
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/equipment/getAll}">Sprzęt</a>
                                <a class="dropdown-item" th:href="@{/producer/getAll}">Producenci sprzętu</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <div sec:authorize="isAnonymous()">
                <div id="form1">
                    <div class="container">
                        <a class="btn text-white" style="background-color: #6a7d8e; width: 130px; margin-top: 8px"
                           th:href="@{/login}" role="button">
                            Zaloguj się
                        </a>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div id="form2">
                    <div class="container">
                        <a class="btn text-white" style="background-color: #6a7d8e; width: 130px; margin-top: 8px"
                           th:href="@{/logout}" role="button">
                            Wyloguj się
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div sec:authorize="isAuthenticated()">
                <div id="form3">
                    <div class="container">
                        <a class="btn" style="color: lightgray; width: 270px; margin-top: 8px">
                            <span sec:authorize="hasRole('ADMIN')">Administrator</span>
                            <span sec:authorize="hasRole('TRAINER')">Trener</span>
                            <span sec:authorize="hasRole('ATHLETE')">Zawodnik</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--tutaj są formsy-->

<div class="container square-box d-flex justify-content-center align-items-center" style="margin-top: 10px">

    <fieldset style="margin-top: 50px">
        <div th:if="${!edit}">

            <p class="h4 text-center" style="margin-bottom: 40px" ><b>Dodawanie nowego treningu</b></p>
            <!--/*@thymesVar id="training" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingWriteModel"*/-->
            <form method="post" th:action="@{/training/create}" th:object="${training}">
                <div class="form-outline mb-4">
                    <label class="form-label">Data treningu</label>
                    <input type="date" th:field="*{trainingDate}" class="form-control"
                           th:errorclass="'Bdc(red)'"
                           placeholder="Data treningu"/>
                    <p class="C(red)" th:if="${#fields.hasErrors('trainingDate')}" th:errors="*{trainingDate}"></p>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Dyscyplina</label>
                        <select th:field="*{discipline}" class="form-control" th:errorclass="'Bdc(red)'">
                            <option value="Pływanie">Pływanie</option>
                            <option value="Narciarstwo">Narciarstwo</option>
                            <option value="Rzut młotem">Rzut młotem</option>
                            <option value="Rzut kulą">Rzut kulą</option>
                            <p class="C(red)" th:if="${#fields.hasErrors('discipline')}" th:errors="*{discipline}"/>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Liczba uczestników</label>
                            <input type="number" th:field="*{numberOfParticipants}" class="form-control"
                                   th:errorclass="'Bdc(red)'"
                                   placeholder="Liczba uczestników"
                            />
                            <p class="C(red)" th:if="${#fields.hasErrors('numberOfParticipants')}"
                               th:errors="*{numberOfParticipants}"></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">

                    <div class="col">
                        <label class="form-label">Typ treningu</label>
                        <select th:field="*{type}" class="form-control" th:errorclass="'Bdc(red)'">
                            <option value="Trening siłowy">Trening siłowy</option>
                            <option value="Trening kondycyjny">Trening kondycyjny</option>
                            <option value="Trening aerobowy">Trening aerobowy</option>
                            <option value="Pływanie">Pływanie</option>
                            <option value="Narciarstwo">Narciarstwo</option>
                            <p class="C(red)" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"/>
                        </select>
                    </div>

                    <div class="col">
                        <label class="form-label">Obciążenie treningu</label>
                        <select th:field="*{forceLoad}" class="form-control" th:errorclass="'Bdc(red)'">
                            <option value="Małe">Małe</option>
                            <option value="Średnie">Umiarkowane</option>
                            <option value="Duże">Duże</option>
                            <option value="Ekstremalne">Ekstremalne</option>
                            <p class="C(red)" th:if="${#fields.hasErrors('forceLoad')}" th:errors="*{forceLoad}"/>
                        </select>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Wybierz klub</label>
                    <select th:field="*{athleticsClub}" class="form-control">
                        <option value="0">Wybierz dostępny klub</option>
                        <option th:each="club : ${clubs.entrySet()}"
                                th:value="${club.key}"
                                th:text="${club.value}"></option>
                    </select>
                </div>

                <div class="align-content-center">
                    <button type="submit" class="btn btn-success btn-block mb-4 a">Dodaj</button>
                    <button type="reset" class="btn btn-dark btn-block mb-4 a">Reset danych</button>
                    <a type="button" class="btn btn-danger btn-block mb-4 a" onclick="history.back()">Cofnij</a>
                </div>
            </form>
        </div>
        <div th:if="${edit}">
            <p class="h4 text-center" style="margin-bottom: 40px" ><b>Edytowanie treningu</b></p>
            <!--/*@thymesVar id="training" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingWriteModel"*/-->
            <form method="post" th:action="@{'/training/edit/' + ${training.number}}" th:object="${training}">
                <div class="form-outline mb-4">
                    <label class="form-label">Data treningu</label>
                    <input type="date" th:field="*{trainingDate}" class="form-control"
                           th:errorclass="'Bdc(red)'"
                           placeholder="Data treningu"/>
                    <p class="C(red)" th:if="${#fields.hasErrors('trainingDate')}" th:errors="*{trainingDate}"></p>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Dyscyplina</label>
                        <select th:field="*{discipline}" class="form-control" th:errorclass="'Bdc(red)'">
                            <option value="Pływanie">Pływanie</option>
                            <option value="Narciarstwo">Narciarstwo</option>
                            <option value="Rzut młotem">Rzut młotem</option>
                            <option value="Rzut kulą">Rzut kulą</option>
                            <p class="C(red)" th:if="${#fields.hasErrors('discipline')}" th:errors="*{discipline}"/>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Liczba uczestników</label>
                            <input type="number" th:field="*{numberOfParticipants}" class="form-control"
                                   th:errorclass="'Bdc(red)'"
                                   placeholder="Liczba uczestników"
                            />
                            <p class="C(red)" th:if="${#fields.hasErrors('numberOfParticipants')}"
                               th:errors="*{numberOfParticipants}"></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">

                    <div class="col">
                        <label class="form-label">Typ treningu</label>
                        <select th:field="*{type}" class="form-control" th:errorclass="'Bdc(red)'">
                            <option value="Trening siłowy">Trening siłowy</option>
                            <option value="Trening kondycyjny">Trening kondycyjny</option>
                            <option value="Trening aerobowy">Trening aerobowy</option>
                            <option value="Pływanie">Pływanie</option>
                            <option value="Narciarstwo">Narciarstwo</option>
                            <p class="C(red)" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"/>
                        </select>
                    </div>

                    <div class="col">
                        <label class="form-label">Obciążenie treningu</label>
                        <select th:field="*{forceLoad}" class="form-control" th:errorclass="'Bdc(red)'">
                            <option value="Małe">Małe</option>
                            <option value="Średnie">Umiarkowane</option>
                            <option value="Duże">Duże</option>
                            <option value="Ekstremalne">Ekstremalne</option>
                            <p class="C(red)" th:if="${#fields.hasErrors('forceLoad')}" th:errors="*{forceLoad}"/>
                        </select>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Wybierz klub</label>
                    <select th:field="*{athleticsClub}" class="form-control">
                        <option value="0">Wybierz dostępny klub</option>
                        <option th:each="club : ${clubs.entrySet()}"
                                th:value="${club.key}"
                                th:text="${club.value}"></option>
                    </select>
                </div>

                <div class="align-content-center">
                    <button type="submit" class="btn btn-success btn-block mb-4 a">Dodaj</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>
</body>

</html>