<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Sprzęt sportowy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <style>
        main {
            background-color: black;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu .navbar navbar-expand-lg navbar {
            background-color: #000000;
            color: #5a8c7d;

        }

        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* remove the gap so it doesn't close */


        }

        .col-2 {
            width: 10%;
        }

        .dropdown-menu {
            width: fit-content;
        }

        .dropdown-item {
            padding-left: 10px;
        }


    </style>

</head>
<body style="background-color: tan">

<header style="background-color:#000000 ">
    <div class="row" style="margin-left: 5%; margin-right: 5%; justify-content: center">
        <div class="col-1" style="color:whitesmoke; text-align: right; font-size: larger; margin-top: 5px"></div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar"
                 style="color: whitesmoke; align-items: center; text-align: right">
                <ul class="navbar-nav">
                    <button class="btn btn" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/home}"
                            style="align-items: center; color: whitesmoke">
                        Home
                    </button>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/club/getAll}" style="color: whitesmoke">
                                Klub
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/club/getAll}">Kluby</a>
                                <a class="dropdown-item" th:href="@{/owner/getAll}">Właściciele</a>
                                <a class="dropdown-item" th:href="@{/address/getAll}">Adresy</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <ul class="navbar-nav">
                    <button class="btn btn" aria-expanded="false"
                            th:href="@{/training}" style="color: whitesmoke">
                        Treningi
                    </button>

                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <ul class="navbar-nav">
                    <button class="btn btn" aria-expanded="false"
                            th:href="@{/facility/getAll}" style="color: whitesmoke">
                        Obiekty
                    </button>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <ul class="navbar-nav">
                    <button class="btn btn" aria-expanded="false"
                            th:href="@{/worker/getAll}" style="color: whitesmoke">
                        Pracownicy
                    </button>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar" style="color: whitesmoke; align-items: center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    th:href="@{/equipment/getAll}" style="color: whitesmoke">
                                Sprzęt
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/equipment/getAll}">Sprzęt</a>
                                <a class="dropdown-item" th:href="@{/producer/getAll}">Producenci sprzętu</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <div sec:authorize="isAnonymous()">
                <div id="form1">
                    <div class="container">
                        <a class="btn text-white" style="background-color: #6a7d8e; width: 130px; margin-top: 8px"
                           th:href="@{/login}" role="button">
                            Zaloguj się
                        </a>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div id="form2">
                    <div class="container">
                        <a class="btn text-white" style="background-color: #6a7d8e; width: 130px; margin-top: 8px"
                           th:href="@{/logout}" role="button">
                            Wyloguj się
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div sec:authorize="isAuthenticated()">
                <div id="form3">
                    <div class="container">
                        <a class="btn" style="color: lightgray; width: 270px; margin-top: 8px">
                            <span sec:authorize="hasRole('ADMIN')">Administrator</span>
                            <span sec:authorize="hasRole('TRAINER')">Trener</span>
                            <span sec:authorize="hasRole('ATHLETE')">Zawodnik</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--tutaj są formsy-->
<div class="container" style="margin-top: 50px">
    <div class="col-md-12 text-center">
        <a type="button" class="btn btn-dark" th:href="@{/equipment}">Dodaj nowy sprzęt sportowy</a>
    </div>
</div>

<div class="container square-box d-flex justify-content-center align-items-center" style="margin-top: 50px">

    <table class="table table-hover border-dark table-hover ">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Data zakupu</th>
            <th scope="col">Ilość sprzętu</th>
            <th scope="col">Wartość sprzętu</th>
            <th scope="col">Stan</th>
            <th scope="col">W uzyciu</th>
            <th class="text-right">Funkcje</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="equipment" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.equipment.EquipmentReadModel"*/-->
        <tr th:each="equipment : ${equipments}">
            <td th:text="${equipment.dateOfPurchase}"></td>
            <td th:text="${equipment.numberOfEquipment}"></td>
            <td th:text="${equipment.valueOfEquipment}"></td>
            <td th:text="${equipment.condition}"></td>
            <td th:text="${equipment.inUse}"></td>
            <td class="text-right">
                <a class="btn btn-primary float-right" th:href="@{'/equipment/edit/' + ${equipment.number}}">Edytuj
                </a>
                <a class="btn btn-danger float-right" th:href="@{'/equipment/delete/' + ${equipment.number}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>