<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zapisy na treningi</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>
<main>


<fieldset>
    <a th:href="@{/home}">Strona główna</a>
    <a th:href="@{/club}">O klubie</a>
    <a th:href="@{/training}">Treningi</a>
    <a th:href="@{/sportfacility}">Obiekty</a>
    <a th:href="@{/worker}">Pracownicy</a>
    <a th:href="@{/equipment}">Sprzęt</a>
</fieldset>

<fieldset>
    <legend>Trening</legend>
    <a th:href="@{/}">Lista treningów</a>
    <a th:href="@{/createtraining}">Dodaj trening</a>
    <a th:href="@{/singup}">Zapisz się!</a>
</fieldset>
    <h1>ZAPISY SĄ ZAMKNIĘTE</h1>
</main>
</body>
</html>