<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obiekty sportowe</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">

</head>
<body>
<main>
  <fieldset>
    <a th:href="@{/home}">Strona główna</a>
    <a th:href="@{/club}">O klubie</a>
    <a th:href="@{/training}">Treningi</a>
    <a th:href="@{/}">Obiekty</a>
    <a th:href="@{/worker}">Pracownicy</a>
    <a th:href="@{/equipment}">Sprzęt</a>
  </fieldset>
  <fieldset>
    <legend>Obiekt sportowy</legend>
    <a th:href="@{/}">Lista obiektów</a>
    <a th:href="@{/createsportfacility}">Dodaj obiekt</a>
  </fieldset>

</main>

</body>
</html>