<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obiekty sportowe</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">

</head>
<body>
<main>
  <fieldset>
    <a th:href="@{/home}">Strona główna</a>
    <a th:href="@{/sportfacility/getAll}">Pokaż wszystkie obiekty</a>
  </fieldset>

  <fieldset style="margin-top: 30px">
    <legend>Lista obiektów</legend>
    <!--/*@thymesVar id="sportfacilities" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.sportfacility.SportFacilityReadModel"*/-->
    <tr th:each="facility : ${sportfacilities}">
      <td th:text="${facility.facilityName}"></td>
      <td th:text="${facility.openDate}"></td>
      <td th:text="${facility.facilityType}"></td>
      <td th:text="${facility.coveredFacility}"></td>
      <td th:text="${facility.capacity}"></td>
    </tr>
  </fieldset>


  <fieldset style="margin-top: 30px">
    <legend>Nowy obiekt</legend>

    <!--/*@thymesVar id="sportFacility" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.sportfacility.SportFacilityWriteModel"*/-->
    <form method="post" th:action="@{/sportfacility/create}" th:object="${sportFacility}">
      <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
      <label>Nazwa
        <input type="text" autofocus="autofocus" th:field="*{facilityName}">
      </label>
      <label>Data otwarcia
        <input type="date" autofocus="autofocus" th:field="*{openDate}">
      </label>
      <label>Typ
        <input type="text" autofocus="autofocus" th:field="*{facilityType}">
      </label>
      <label>Czy zakryty
        <input type="text" autofocus="autofocus" th:field="*{coveredFacility}">
      </label>
      <label>Pojemność
        <input type="number" autofocus="autofocus" th:field="*{capacity}">
      </label>
      <label>Wybierz klub:
      <select th:field="*{athleticsClubFacility}" class="form-control" id="dropDownList1">
        <option value="0">Wybierz dostępny klub</option>
        <option th:each="club : ${clubs.entrySet()}" th:value="${club.key}"
                th:text="${club.value}"></option>
      </select>
    </label>

      <label>Wybierz adres:
        <select th:field="*{facilityAddress}" class="form-control" id="dropDownList2">
          <option value="0">Wybierz dostępny adres</option>
          <option th:each="address : ${addresses.entrySet()}" th:value="${address.key}"
                  th:text="${address.value}"></option>
        </select>
      </label>
      <input type="submit" value="Stwórz obiekt">
    </form>
  </fieldset>
</main>

</body>
</html>