<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Zapisy na traningi</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>


    <fieldset style="margin-top: 30px">
        <!--/*@thymesVar id="trainings" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingReadModel"*/-->
        <dl th:each="training : ${trainings}" class="Bd P(10px)">
            <dt th:text="${training.discipline}">...</dt>
            <dd>
                <ul class="P(0)">
                    Data treningu
                    <li style="list-style-type: square" th:text="${training.trainingDate}"></li>
                    Typ treningu
                    <li style="list-style-type: square" th:text="${training.typeOfTraining}"></li>
                    Obciążenie treningowe
                    <li style="list-style-type: square" th:text="${training.trainingForce}"></li>
                    Klub organizujący trening
                    <li style="list-style-type: square" th:text="${training.athleticsClubTraining}"></li>
                </ul>
                <form method="post" th:action="@{'/training/signup/' + ${training.trainingNumber}}">
                    <label>Wybierz zawodnika:
                        <select th:name="idAthlete" class="form-control" id="dropDownList1">
                            <option value="0">Wybierz zawodnika:</option>
                            <option th:each="worker : ${workers.entrySet()}" th:value="${worker.key}"
                                    th:text="${worker.value}"></option>
                        </select>
                    </label>

                    <button type="submit">Dodaj zawodnika</button>
                </form>
            </dd>

        </dl>


    </fieldset>
</head>
</body>
</html>
