<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Treningi</title>
        <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    </head>
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/training/getAll}">Pokaż wszystkie treningi</a>
    </fieldset>


    <fieldset style="margin-top: 30px">
        <legend>Lista treningów</legend>
        <!--/*@thymesVar id="trainings" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingReadModel"*/-->
        <tr th:each="training : ${trainings}">
            <td th:text="${trainings.trainingDate}"></td>
            <td th:text="${trainings.discipline}"></td>
            <td th:text="${trainings.typeOfTraining}"></td>
            <td th:text="${trainings.trainingForce}"></td>
            <td th:text="${trainings.athleticsClubTraining}"></td>
        </tr>
    </fieldset>

<!--    <fieldset style="margin-top: 30px">-->
<!--        <legend>Nowy trening</legend>-->
<!--        &lt;!&ndash;/*@thymesVar id="training" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingWriteModel"*/&ndash;&gt;-->
<!--        <form method="post" th:action="@{/training/create}" th:object="${training}" modelattribute="training">-->
<!--            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>-->
<!--            <label>Data treningu-->
<!--                <input type="date" autofocus="autofocus" th:field="*{training.trainingDate}">-->
<!--            </label>-->
<!--            <label>Dyscyplina-->
<!--                <input type="text" autofocus="autofocus" th:field="*{training.discipline}">-->
<!--            </label>-->
<!--            <label>Typ-->
<!--                <input type="text" autofocus="autofocus" th:field="*{training.type}">-->
<!--            </label>-->
<!--            <label>Obciążenie treningu-->
<!--                <input type="text" autofocus="autofocus" th:field="*{training.forceLoad}">-->
<!--            </label>-->
<!--            <label>Klub lekkoateltyczny-->
<!--                <input type="number" autofocus="autofocus" th:field="*{training.athleticsClub}">-->
<!--            </label>-->
<!--            <input type="submit" value="Stwórz trening">-->
<!--        </form>-->
<!--    </fieldset>-->
</main>
</body>
</html>