<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Treningi</title>
        <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
        <style>
            .Bd {
                border: solid 1px black;
            }

            .Bdc\(red\) {
                border-color: red !important;
            }

            .C\(red\) {
                color: red;
            }

            .P\(0\) {
                padding: 0;
            }
            .P\(10px\) {
                padding: 10px;
            }
        </style>
    </head>
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/training/getAll}">Pokaż wszystkie treningi</a>
    </fieldset>


    <fieldset style="margin-top: 30px">
        <legend>Lista treningów</legend>
        <!--/*@thymesVar id="trainings" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingReadModel"*/-->
        <tr th:each="training : ${trainings}">
            <td th:text="${training.trainingDate}"></td>
            <td th:text="${training.discipline}"></td>
            <td th:text="${training.numberOfParticipants}"></td>
            <td th:text="${training.typeOfTraining}"></td>
            <td th:text="${training.trainingForce}"></td>
            <td th:text="${training.athleticsClubTraining}"></td>
        </tr>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Nowy trening</legend>

        <!--/*@thymesVar id="training" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.training.TrainingWriteModel"*/-->
        <form method="post" th:action="@{/training/create}" th:object="${training}">
            <label>Data treningu:
                <input type="date" autofocus="autofocus" th:field="*{trainingDate}" th:errorclass="'Bdc(red)'" placeholder="Data treningu">
                <p class="C(red)" th:if="${#fields.hasErrors('trainingDate')}"  th:errors="*{trainingDate}" />
            </label>
            <label>Dyscyplina:
                <input type="text" autofocus="autofocus" th:field="*{discipline}" th:errorclass="'Bdc(red)'" placeholder="Dyscyplina">
                <p class="C(red)" th:if="${#fields.hasErrors('discipline')}"  th:errors="*{discipline}" />
            </label>
            <label>Liczba uczestników:
                <input type="number" min="0" autofocus="autofocus" th:field="*{numberOfParticipants}" th:errorclass="'Bdc(red)'" placeholder="Liczba uczestników">
                <p class="C(red)" th:if="${#fields.hasErrors('numberOfParticipants')}"  th:errors="*{numberOfParticipants}" />
            </label>
            <label>Typ treningu:
                <input type="text" autofocus="autofocus" th:field="*{type}" th:errorclass="'Bdc(red)'" placeholder="Typ treningu">
                <p class="C(red)" th:if="${#fields.hasErrors('type')}"  th:errors="*{type}" />
            </label>
            <label>Obciążenie treningu:
                <select th:field="*{forceLoad}" class="form-control" id="dropDownList" th:errorclass="'Bdc(red)'">
                    <option value="Małe">Małe</option>
                    <option value="Średnie">Umiarkowane</option>
                    <option value="Duże">Duże</option>
                    <p class="C(red)" th:if="${#fields.hasErrors('forceLoad')}"  th:errors="*{forceLoad}" />
                </select>

            </label>
            <label>Wybierz klub:
                <select th:field="*{athleticsClub}" class="form-control" id="dropDownList1">
                    <option value="0">Wybierz dostępny adres</option>
                    <option th:each="club : ${clubs.entrySet()}" th:value="${club.key}"
                            th:text="${club.value}"></option>
                </select>
            </label>
            <input type="submit" value="Stwórz trening">
        </form>
    </fieldset>
</main>
</body>
</html>