<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Pracownicy</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>

<main>
    <fieldset>
        <a th:href="@{/home}">Strona główna</a>
        <a th:href="@{/club}">O klubie</a>
        <a th:href="@{/training}">Treningi</a>
        <a th:href="@{/}">Obiekty</a>
        <a th:href="@{/worker}">Pracownicy</a>
        <a th:href="@{/equipment}">Sprzęt</a>
    </fieldset>

    <fieldset>
        <legend>Pracownicy</legend>
        <a th:href="@{/createworker}">Dodaj pracownika</a>
        <a th:href="@{/worker/getAll}">Wypisz pracowników</a>
        <a th:href="@{/worker/sortview}">Sortuj pracowników</a>
        <a th:href="@{/worker/salaryview}">Sortuj wg płac</a>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Liczba pracowników</legend>
        <div th:text="${counter}"></div>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Wszyscy pracownicy</legend>
        <tr th:each="worker : ${workers}">
            <td th:text="${worker.name}"></td>
            <td th:text="${worker.surname}"></td>
            <td th:text="${worker.dateOfBirth}"></td>
            <td th:text="${worker.pesel}"></td>
            <td th:text="${worker.dateOfEmployment}"></td>
            <td th:text="${worker.sex}"></td>
            <td th:text="${worker.phoneNumber}"></td>
        </tr>
    </fieldset>

    <fieldset style="margin-top: 30px">
        <legend>Sortowanie wg płac</legend>
        <tr th:each="worker : ${workers}">
            <td th:text="${worker.number}"></td>
            <td th:text="${worker.name}"></td>
            <td th:text="${worker.surname}"></td>
            <td th:text="${worker.workerSalary.hourlyRate}"></td>
        </tr>
    </fieldset>


</main>
</body>
</html>