<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Adresy</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <style>
        .Bd {
            border: solid 1px black;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .C\(red\) {
            color: red;
        }

        .P\(0\) {
            padding: 0;
        }

        .P\(10px\) {
            padding: 10px;
        }
    </style>
</head>
<body>

<main >
    <fieldset>
        <a th:href="@{/static}">Strona główna</a>
        <a th:href="@{/address/getAll}">Pokaż wszystkie adresy</a>
    </fieldset>


    <fieldset>
        <legend>Wszystkie adresy</legend>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.country}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.zipCode}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.buildingNumber}"></td>
            <td th:text="${address.apartmentNumber}"></td>
        </tr>
    </fieldset>


    <fieldset style="margin-top: 30px">
        <legend>Dodaj adres</legend>
        <!--/*@thymesVar id="address" type="pl.edu.pw.elka.bdbt.athleticsclub.mvc.address.AddressWriteModel"*/-->
        <form method="post" th:action="@{/address/create}" th:object="${address}">
            <label>Kraj:
                <input type="text" autofocus="autofocus" th:field="*{country}" th:errorclass="'Bdc(red)'"
                       placeholder="Kraj">
                <p class="C(red)" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
            </label>
            <label>Miasto:
                <input type="text" autofocus="autofocus" th:field="*{city}" th:errorclass="'Bdc(red)'"
                       placeholder="Miasto">
                <p class="C(red)" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
            </label>
            <label>Kod pocztowy:
                <input type="text" autofocus="autofocus" th:field="*{zipCode}" pattern="^\d{2}-\d{3}$"
                       th:errorclass="'Bdc(red)'" placeholder="__-___">
                <p class="C(red)" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></p>
            </label>
            <label>Ulica:
                <input type="text" autofocus="autofocus" th:field="*{street}" th:errorclass="'Bdc(red)'"
                       placeholder="Ulica">
                <p class="C(red)" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
            </label>
            <label>Numer budynku:
                <input type="number" autofocus="autofocus" th:field="*{buildingNumber}" th:errorclass="'Bdc(red)'"
                       placeholder="Numer budynku">
                <p class="C(red)" th:if="${#fields.hasErrors('buildingNumber')}" th:errors="*{buildingNumber}"></p>
            </label>
            <label>Numer apartamentu:
                <input type="number" autofocus="autofocus" th:field="*{apartmentNumber}"
                       placeholder="Numer apartamentu">
            </label>
            <button type="submit">Dodaj adres</button>
            <button type="reset">Wyczyść</button>
        </form>
    </fieldset>
</main>
</body>
</html>